################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Aula.vstudio/Aula.02
/Aula.16
/Aula.14/Aula-01/RetanguloComPOO/.vs/RetanguloComPOO.slnx/FileContentIndex
/Aula.17/ContaBancaria/.vs
/Aula.18/.vs
/Aula.18/BancoMaster/.vs
